.card {
  outline: 1px solid #f3f3f3;
  border-radius: 40px;
  width: 210px;
  padding: 30px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

  &:hover {
    transform: translateY(-10px);
    outline: 1px solid #f8f8f8;
    box-shadow: 0px 14px 35px rgba(0, 0, 0, 0.4);
  }

  .favorite {
    position: absolute;
    padding: 0;
  }

  h5 {
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
  }

  button {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    color: #bdbdbd;

    &:hover {
      transform: scale(1.2);
      transition: 0.2s ease-in-out;
    }
  }

  b {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  }
}
