body {
  margin: 0;
  font-family: 'Inter', sans-serif, system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7F6FF;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.wrapper {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 85px auto;
  box-sizing: border-box;
}

header {
  border-bottom: 1px solid #EAEAEA;

  .header-right {
    column-gap: 30px;
  }

}


.card {
  border: 1px solid #F3F3F3;
  border-radius: 40px;
  width: 210px;
  padding: 30px;

  h5 {
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
  }

  span {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;

    color: #BDBDBD
  }

  b {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  }
}


.button {
  background: #FFFFFF;
  width: 32px;
  height: 32px;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
  cursor: pointer;
}